@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="login-box">
    <div class="login-header">
        <h1>Login</h1>
    </div>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Contraseña</label>
        </div>
        <div class="login-sec">
            <button class="btn-login" type="submit"> Login </button>
        </div>
        <div class="login-footer">
            <label>No eres miembro ?</label>
            <a class="btn-registro" asp-area="" asp-controller="VistaRegistros" asp-action="Index">Registrarse</a>
        </div>
    </form>
</div>