@model ObligatorioRestauranteP3.Models.VistaPerfil

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}





<div class="profile-section">

    <div class="profile-info">
        <div class="ps-pic">


        </div>
        <div class="ps-body">
            <div class="ps-name">

            </div>
            <div >
            </div>

            
            <a asp-action="Edit" class="ps-btn-editar">Modificar datos</a>
        </div>
    </div>


    <div class="profile-reviews">



    </div>


</div>

